body{
    margin: 0;
    background-size: cover;
}

.main-container{
    /* display: flex; */
    margin: auto;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: aqua;
}
h3{
    margin: 20px 50px;
    background-color: white;
    text-align: center;
}
#display-board{
    background-color: black;
    padding: 40px 230px 0px 230px;
    color: white;
    margin: 0px 10px;
    display: flex;
    font-size: 30px;
    text-align: right;
    
    
}

button{
    margin: 3px 16px;
    border: 2px solid black;
    border-radius: 7px;
    width: 90px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;

}

.all-buttons{
    margin-top: 15px;
}